@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 3em;
}

header .name {
  font-weight: 400;
  -webkit-columns: #616161;
          columns: #616161;
}

header nav {
  width: 30%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 100ms ease;
  transition: color 100ms ease;
}

header nav ul li a:hover {
  color: #3531B6;
}

.home {
  border-bottom: 2px solid #3531B6;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade 0.3s ease-in;
          animation: fade 0.3s ease-in;
}

.container .subhead {
  width: 42ch;
  text-align: center;
  margin: 1em;
  font-weight: 400;
  color: gray;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.meet-box {
  height: 300px;
  width: 300px;
  background-color: #3531B6;
  margin-top: 5em;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxText {
  color: white;
  font-size: 2em;
  padding-bottom: 10px;
  font-weight: 500;
  width: 80%;
  text-align: center;
}

.block {
  outline-color: 5px solid white;
  width: 100%;
  background-color: #101077;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.block a {
  text-decoration: none;
  color: white;
  padding: 2em;
  text-align: center;
}

.block h2 {
  font-size: 2.5rem;
}

.block p {
  color: #bdbdbd;
}

.block:hover {
  background-color: #04043f;
}

@media screen and (max-width: 420px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .name {
    padding: 1em;
  }
  header nav {
    width: 100%;
  }
  .subhead {
    font-size: 0.7em;
    max-width: 30ch;
  }
  .head {
    font-size: 1.3em;
  }
  .meet-box {
    height: 200px;
    width: 200px;
  }
  .boxText {
    font-size: 1em;
  }
  .block h2 {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=style3.css.map */